.datablock{
  margin-left: 40px;
  color: #000;
  float: left;
}

.chart{
  float: left;
}

#plugin_table{
  width: 80%;
  margin-left: 40px;
  margin-right: auto;
}

#player_table{
  width: 900px;
  margin-left: 40px;
  margin-right: auto;
}

#feedcontent h4{
  color: #005599;
  font-weight: 100;
}

#feedcontent{
  margin-right: 40px;
  color: #222;
}